//select
.select2-container{
  max-width: 100%;
}
.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 40px;
}
.select2-container--default .select2-selection--single{
  border-color: #c6cece;
  outline: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 40px;
  font-size: 18px;
  padding-left: 15px;
  font-family: 'CircularStd-Book', sans-serif;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  background:  url("#{$images-dir}/select-arrow.svg") no-repeat center center;
  width: 40px;

  b{
    border: 0 none;
  }
}

@media only screen and (max-width: 992px) {
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 13px;
    line-height: 35px;
    padding-left: 8px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow{
    width: 25px;
  }
}