
@media only screen and (max-width: 992px) {
  .container{
    max-width: 100%;
  }
  h1 {
    font-size: 30px;
    margin-bottom: 20px !important;
  }
  p {
    font-size: 14px;
  }
  h2,.success-headline {
    font-size: 22px;
  }

  .font-default{
    font-size: 13px;
  }
  .checkmark{
    top: 1px;
  }
  .text-lg {
    font-size: 14px;
  }
}
@media only screen and (max-width: 480px){
 h1 br{
   display: none;
 } 
}